@page
@model DemoApp.Pages.VisitationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
    <head>
        <title>DemoApp</title>
        <style>
            .linkButton { 
                background: none;
                border: none;
                color: #0066ff;
                text-decoration: underline;
                cursor: pointer;    
            }        
        </style>
    </head>
    <body>
        <h1>Welcome @Model.Visitor.Id</h1>
        <h3>Your Visitations</h3>
        <table border="1">
            <tr>
                <th>Spot Name</th>
                <th>Visit Count</th>
                <th>Last Visit</th>
            </tr>
            @foreach(var item in Model.Visitor.Visits)
            {
                <tr>
                    <td>@item.Spot</td>
                    <td>@item.Frequency</td>
                    <td>@item.Recent</td>
                </tr>
            }
        </table>
        <form method="POST">
            <p>
                <b>Spot Name:</b>
                <input type="text" name="spotName" required="required"/>
                <input type="submit" value="Visit"/>
            </p>
        </form>
        <form asp-page-handler="logout" method="POST">
            <input type="submit" value="Sign Out" class="linkButton"/>
        </form>
    </body>
</html>
