<!DOCTYPE html>

@addTagHelper *, TagHelperTest

<html>
	<head>
		<title>Learning ASP.NET Core</title>
	</head>
	<body>
		<h1 view-data-id="Visitor">Welcome</h1>
		<b>Current time is </b><server-time output-format="yyyy-MM-dd hh:mm:ss tt" />
	</body>
</html>

