<!DOCTYPE html>
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        @RenderBody()
        <p style="font-size:x-small;font-style:italic">
            &copy; @DateTime.Now.Year @Environment.MachineName. All rights reserved.
        </p>
    </body>
</html>