<!DOCTYPE html>
@model DemoApp.Models.Visitor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1>Welcome Visitor</h1>
        <form asp-controller="Home" asp-action="Register" method="POST">
            <b>Your Name:</b>
            <input asp-for="Id"/>
            <button type="submit">Register</button>
            <p>
                <span asp-validation-for="Id"></span>               
            </p>
        </form>
        <p>
            <a asp-action="Index" asp-controller="Home">Our Visitors</a>
        </p>
    </body>
</html>