<!DOCTYPE html>
@model IEnumerable<string>
@addTagHelper *, DemoApp
@{
    var visitor = ViewBag.Visitor;
}
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1>Hello @visitor</h1>
        <b>Number of visits: </b><span count-for="@visitor"></span>
        <h2>Other Visitors</h2>
        <ol>
        @foreach(var item in Model)
        {
            <li>
                <a href="/Greet/@item">@item</a>
            </li>
        }
        </ol>
    </body>
</html>
