<!DOCTYPE html>

<html>
	<head>
		<title>Learning ASP.NET Core</title>
	</head>
	<body>
		<h1>Welcome @ViewBag.Visitor</h1>
		<b>Current time is </b>@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
	</body>
</html>
