@page
@model PageModelTest.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
	<head>
		<title>Learning ASP.NET Core</title>
	</head>

	<body>
		<h1>Current Feedbacks</h1>
		<ol>	
		@foreach(var feedback in Model.Feedbacks)
		{
			<li>
				<div><i>@feedback.Comment</i></div>
				<div><a asp-page="./Change" asp-route-from="@feedback.From">@feedback.From</a></div>
				<hr/>
			</li>
		}
		</ol>		
	</body>
</html>
